[submodule "device-simulation"]
	path = device-simulation
	url = https://github.com/Azure/device-simulation-dotnet.git
[submodule "webui"]
	path = webui
	url = https://github.com/Azure/azure-iot-pcs-remote-monitoring-webui.git
[submodule "cli"]
	path = cli
	url = https://github.com/Azure/pcs-cli
[submodule "iothub-manager"]
	path = iothub-manager
	url = https://github.com/Azure/iothub-manager-java
[submodule "storage-adapter"]
	path = storage-adapter
	url = https://github.com/Azure/pcs-storage-adapter-java.git
[submodule "telemetry"]
	path = telemetry
	url = https://github.com/Azure/device-telemetry-java
[submodule "telemetry-agent"]
	path = telemetry-agent
	url = https://github.com/Azure/telemetry-agent-java
[submodule "config"]
	path = config
	url = https://github.com/Azure/pcs-config-java.git
