# For more info see https://help.github.com/articles/about-codeowners

# Order is important; the last matching pattern takes the most precedence.

*        @ppathan @ankitscribbles @isaac-dasan

LICENSE  @ankitscribbles @isaac-dasan @ppathan
